* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-transform: uppercase;

}

.banner {
    
    width: 100%;
    height: 100vh;

    /* background-image: linear-gradient(rgb(0 0 0 / 17%),rgb(0 0 0 / 62%)),url(images/propertidp.webp); */
    /* background-image: url("images/a.jpg"); */
    background-size: cover;
    background-position: center;
    animation: slide 7s infinite step-end;

}

@keyframes slide {
    

    0% {
        background-image: linear-gradient(rgb(0 0 0 / 17%), rgb(0 0 0 / 62%)), url(images/1.jpg);
    }

    30% {
        background-image: linear-gradient(rgb(0 0 0 / 17%), rgb(0 0 0 / 62%)), url(images/propertidp.webp);
    }

    60% {
        background-image: url(images/adp.jpg );
    }
    100% {
        background-image: linear-gradient(rgb(0 0 0 / 17%), rgb(0 0 0 / 62%)), url(images/propertidp.webp);
    }
    
}


/* .navbar,.hai{
    background-color: rgb(206, 34, 34) ;
} */

.navbar {
    background-color: white;
    z-index: 1;
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: -2px 6px 21px -11px rgba(0,0,0,1);
}

.logo {
    width: 120px;
    cursor: pointer;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    font-weight: 600;
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}

.navbar ul li ::after {
    content: '';
    height: 3px;
    width: 0;
    background: #017143;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
   

}

.navbar ul li :hover::after {
    width: 100%;
}
/*about*/

nav {
    position: -webkit-sticky;
    position: sticky;
    /* sticky or fixed are fine */
    position: fixed;
    top: 0;
    height: 69px;
    width: 100%;
    background: linear-gradient(to bottom, #000, #0003 70%,#0000); /* background when scroll is in the top */
    transition: background .5s; /* control how smooth the background changes */
  }
  
  nav.scrolled {
    background: #0a0a0a;
  }
  
  main {
    height: 200vh;
  }
  .about{
    width: 80%;
  }

.about-section{
    background: url(images/pexels-jacob-moseholt-4453879.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    box-shadow: 19px 11px 20px -2px rgba(0,0,0,0.75);
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 141px;
}

.inner-container h1{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 900;
    color: #017143
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #017143;
    background: transparent;
    color: #5e7756;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 204px;

    z-index: -1;
    transition: 0.5s;
    text-transform: lowercase;
}

button:hover span {
    width: 100%;

}

button:hover {
    border: none;
    background-color: #017143;
}

/*about*/

.cntent {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
}

.cntent h1 {
    font-size: 63px;
    margin-top: -119px;
}

.cntent p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}



.proh1{
    color: #017143;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    padding-top: 85px;
}
.mainproduct{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainproduct img{
    width: 212px;
     position: absolute;
    object-fit: cover; 
}
.pro50{
    justify-items: center;
    align-items: center;
    width: 80%;
    margin-top: 50px;
    vertical-align: middle;
    display: grid;
    grid-template-columns: auto auto  auto auto;
}
.prodiv{
    height: 322px;
   
}
.prod{
    border-radius: 32px;
}
.pro1{
    width: 225px;
    height: 272px;
    border-style: solid;
    border-color: black;
    background-color: white;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
    transition: .5s;
    
}
.prod:hover,
     .prod:hover .pro1{
      box-shadow: -4px -4px 10px white,
      4px 4px 4px rgba(0,0,0,0.15),
      inset 4px 4px 20px rgba(0,0,0,0.15),
      inset 4px 4px 20px white;

    }
    .contant{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background:linear-gradient(180deg, rgba(0,0,0,0) 5%, rgba(0,0,0,0.6) 80%);
        transition: .5s;
        opacity: 0;
        margin-top: 30px;

      } 
       .hoverh1{

        padding-top: 23px;

        font-size: 60px;
        text-align: center;
        text-transform: capitalize;
        font-weight: 300;
        color: white;
      } 
       .btn{
        width: 120px;
        height: 50px;
        font-size: 16px;
        background: white;
        border-radius: 10px;
        text-transform: capitalize;
        border: none;
        margin: 50px 0;
        cursor: pointer;
      }
      .btn:hover{
        background: #f2f2f2;
  
      }
      .prodiv:hover .contant{
        opacity: 1;
        margin-top: 0;
      } 

    
    /*footer*/
     .footer {
        position: fixed;
        bottom: 0;
       
    }
    @media (max-height:800px){
        .footer{
            position: static;
    
        }
    }
    
    .footer-distributed{
        background-color: #2d2a30;
        box-sizing: border-box;
        widows: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 50px 50px 60px 50px;
        margin-top: 228px;
        height: 232px;
    }
    .footer-distributed .footer-left,.footer-distributed .footer-center ,.footer-distributed .footer-right
    {
        display: inline-block;
        vertical-align: top;
    
    }
    .footer-distributed .footer-left {
        width: 30%;
    
    }
    .footer-distributed h3 {
        color: #fff;
        font: normal 36px 'cookie' cursive;
    }
    .footer-distributed h3 span{
        color: #e0ac1c;
    }
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: lemonchiffon;
    }
    .footer-distributed .footer-company-name{
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    
    }
    .footer-distributed .footer-center{
        width: 35%;
    }
    .footer-distributed .footer-center i {
        background-color: #33383b;
        color: #fff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    
    }
    .footer-distributed .footer-center i.fa-envelope{
        font-size: 17px;
        line-height: 38px;
    }
    .footer-distributed .footer-center p span{
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    
    }
    .footer-distributed .footer-center p a {
        color: #e0ac1a;
    }
    .footer-distributed .footer-right{
        width: 30%;
    
    }
    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    
    }
    .footer-distributed .footer-company-about span {
        display: block;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .footer-distributed .footer-icons {
        margin-top: 25px;
    
    }
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #fff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    
    }
    .footer-distributed .footer-icons a:hover{
        background-color: #3f71ea;
    
    }
    .footer-links a:hover {
        color: #3f71ea;
    
    }
    @media(max-width:880px){
        .footer-distributed .footer-links .footer-distributed .footer-center,.footer-distributed .footer-right{
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
        .footer-distributed .footer-center i {
            margin-left: 0;
        }
    } 

  